@import '_Default';
.shop-create {
    background-color: #faf9f5;
    padding: 2rem 6.5rem;
    text-align: center;
}

.shop-create~.footer {
    background-color: #faf9f5;
}

.shop-create__header {
    @extend %classy-font;
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    font-weight: 400;
}

.shop-create__description {
    margin-bottom: 1rem;
}

.shop-create__form {
    background-color: white;
    @extend %border;
    border-radius: 4px;
    border-color: $border-color-light;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shop-create__sub-header {
    width: 60%;
    margin-top: 0.3rem;
    padding-bottom: 0.5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid $border-color;
    text-align: left;
}

.shop-create__field {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0.8rem 0;
    position: relative;
}

.shop-create__label {
    width: 15%; // font-weight: 700;
    font-size: 0.95rem;
    color: map-get($font-color, light);
    display: inline-block;
}

.shop-create__input {
    @extend %input;
    width: 45%;
    @extend %border;
    border-radius: 3px;
}

.shop-create__error {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    position: absolute;
    left: 62%;
}

.shop-create__field-drop-down {
    @extend .shop-create__field;
    align-items: flex-start;
    position: relative;
}

.shop-create__drop-downs {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.shop-create__drop-down {
    width: 100%;
    margin-bottom: 0.7rem;
    select {
        @extend %input;
        padding-left: 0.5rem;
        height: 2rem;
    }
    .shop-create__error {
        top: 0;
    }
}

.shop-create__field-drop-down select:empty {
    display: none;
}

.shop-create__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15%;
    width: 45%;
    height: 2rem;
}

.shop-create__button {
    @extend %button;
    flex-grow: 1;
}

.shop-create__seed-button {
    @extend %attached-button;
    margin-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
}

.shop-create__seed-input {
    @extend %attached-input;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none;
    display: inline-block;
    width: 9rem;
    &::placeholder {
        font-size: 0.8rem;
    }
}