button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

li {
    list-style: none;
}

body {
    color: #343434;
    letter-spacing: .04rem;
    font-weight: 500;
}

.brand {
    color: #f45800;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.container {
    margin: 0 3rem;
    padding: .8rem 1rem;
}