.shop-form__input, .shop-form__drop-down select, .shop-form__seed-input, .shop-form__form, .preview__shop-container {
  border: 1px solid #c6c6c6; }

.shop-form__header {
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 0.03rem; }

.shop-form__input, .shop-form__drop-down select {
  padding: 0 0.8rem;
  border-radius: 3px;
  font-family: inherit;
  background-color: #f9f9f9;
  outline: none;
  height: 2rem;
  width: 100%;
  letter-spacing: 0.04rem; }
  .shop-form__input:hover, .shop-form__drop-down select:hover, .shop-form__input:focus, .shop-form__drop-down select:focus {
    box-shadow: none;
    background-color: white;
    border-color: black; }

.shop-form__button {
  background-color: #2f2f2f;
  color: white;
  font-weight: 700;
  letter-spacing: 0.03rem;
  padding: 0 1rem;
  font-size: 0.85rem;
  height: 2rem;
  border-radius: 3px; }
  .shop-form__button:hover {
    background-color: #494949; }

.shop-form__seed-input {
  padding: 0 0.8rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: inherit;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px inset #e9e9e9;
  outline: none;
  height: 100%;
  width: 100%;
  letter-spacing: 0.04rem; }
  .shop-form__seed-input:hover, .shop-form__seed-input:focus {
    box-shadow: none;
    background-color: white;
    border-color: black; }

.shop-form__seed-button {
  background-color: #2f2f2f;
  color: white;
  font-weight: 700;
  letter-spacing: 0.03rem;
  padding: 0 0.8rem;
  font-size: 0.85rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%; }
  .shop-form__seed-button:hover {
    background-color: #494949; }

.shop-form {
  background-color: #faf9f5;
  padding: 2rem 6.5rem;
  text-align: center; }

.shop-create ~ .footer {
  background-color: #faf9f5; }

.shop-edit ~ .footer {
  background-color: #faf9f5; }

.shop-form__header {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  font-weight: 400; }

.shop-form__description {
  margin-bottom: 1rem; }

.shop-form__form {
  background-color: white;
  border-radius: 4px;
  border-color: #e0e0e0;
  padding: 3.5rem;
  display: flex;
  align-items: center; }

.shop-form__form-container {
  width: 60%; }

.shop-form__sub-header {
  width: 100%;
  margin-top: 0.3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #c6c6c6;
  text-align: left; }

.shop-form__field, .shop-form__field-drop-down {
  width: 100%;
  display: flex;
  text-align: left;
  margin: 0.8rem 0;
  position: relative; }

.shop-form__label {
  margin-top: 0.4rem;
  width: 30%;
  font-size: 0.95rem;
  color: #5f5f5f;
  display: inline-block; }

.shop-form__input-container {
  width: 70%; }

.shop-form__input {
  border-radius: 3px; }

.shop-form__error {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.3rem; }

.shop-form__field-drop-down {
  align-items: flex-start;
  position: relative; }

.shop-form__drop-downs {
  display: flex;
  flex-direction: column;
  width: 70%; }

.shop-form__drop-down {
  width: 100%;
  margin-bottom: 0.7rem; }
  .shop-form__drop-down select {
    padding-left: 0.5rem;
    height: 2rem; }
  .shop-form__drop-down .shop-form__error {
    top: 0; }

.shop-form__field-drop-down select:empty {
  display: none; }

.shop-form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 30%;
  width: 70%;
  height: 2rem; }

.shop-form__button {
  flex-grow: 1;
  position: relative; }

.shop-form__ask-sign-in {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f45800;
  padding: 0.7rem;
  border-radius: 3px; }

.shop-form__ask-sign-in:after {
  content: ' ';
  position: absolute;
  right: calc(50% - 10px);
  bottom: -10px;
  border-top: 10px solid #f45800;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: none; }

.shop-form__seed-button {
  margin-left: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  flex-grow: 1; }

.shop-form__seed-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  display: inline-block;
  width: 9rem; }
  .shop-form__seed-input::placeholder {
    font-size: 0.8rem; }

.shop-form__preview {
  width: 40%; }

.preview__shop-container {
  border-radius: 4px;
  display: inline-block; }
  .preview__shop-container .shop {
    margin-top: 0; }

.preview__header {
  text-align: left;
  font-weight: 700;
  margin: 1rem; }

/*# sourceMappingURL=ShopForm.css.map */
