@import '_Default';
.navigation-bar__main-nav {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__primary {
    width: 36%;
    display: flex;
    align-items: center;
}

.main-nav__brand {
    @extend %brand;
    font-size: 2.3rem;
    cursor: pointer;
}

.search-bar {
    @extend %attached-field;
    width: 100%;
    margin-left: 1.5rem;
}

.search-bar__input {
    @extend %attached-input;
}

.search-bar__button {
    @extend %attached-button;
}

.main-nav__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li.main-nav__sell,
    li.main-nav__auth .google-auth,
    li.main-nav__user {
        margin: 0 0.7rem;
        font-size: 0.95rem;
    }
}

.main-nav__sell {
    @extend %hover-underline;
    cursor: pointer;
}

.main-nav__user {
    display: flex;
    align-items: center;
    cursor: default;
}

.main-nav__user-image {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border-radius: 50%;
}

.main-nav__auth .google-auth {
    padding: 0.45rem 0.5rem;
    display: flex;
    align-items: center;
    border: 1px solid #595959;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    i {
        margin-right: 5px;
        font-size: 1.2rem;
    }
    &:hover {
        background-color: #404040;
        color: white;
        border-color: transparent;
    }
}

.main-nav__basket,
.main-nav__discover {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.7rem;
    font-size: 0.75rem;
    border-left: 1px solid #c7c7c7;
    color: #8d8d8d;
    font-weight: 400;
    cursor: pointer;
    i {
        margin-bottom: 0.2rem;
        font-size: 1.4rem;
    }
    &:hover i {
        color: #303030;
    }
}

.main-nav__discover {
    margin-left: 0.7rem;
}

.main-nav__basket {
    padding-right: 0;
    position: relative;
    i {
        position: relative;
    }
    &:hover .basket__list-container {
        visibility: visible;
    }
}

.basket__counter {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $logo-color;
    color: white;
    font-size: 0.8rem;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: -0.04rem;
}

.basket__list-container {
    visibility: hidden;
    position: absolute;
    top: 2rem;
    right: -1rem;
    z-index: 2;
    padding-top: 1.2rem;
    &:hover {
        visibility: visible;
    }
}

.basket__list {
    @extend %border;
    padding: 0.5rem 1rem 0 1rem;
    background-color: white;
    color: map-get($font-color, normal);
    border-radius: 4px;
    cursor: default;
}

.basket__empty-message {
    width: max-content;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.basket-item {
    width: fit-content;
    min-width: 230px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    text-align: right;
    border-bottom: 1px solid $border-color;
}

.basket-item__image {
    width: 90px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}

.basket-item__product-details {
    align-self: stretch;
    padding: 0.2rem;
}

.basket-item__name {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.basket-item__price {
    font-size: 0.95rem;
}

.basket__total {
    margin-top: .4rem;
    padding: 0 .2rem;
    display: flex;
    justify-content: space-between;
}

.basket__total-header {
    font-size: 1.1rem;
}

.basket__total-value {
    font-size: 1.1rem;
}

.basket__checkout-button {
    @extend %button;
    width: 100%;
    margin: 1.2rem 0;
    background-color: $logo-color;
    &:hover {
        background-color: $logo-color;
    }
}

.navigation-bar__categories {
    border-top: 1px solid $border-color;
}

.navigation-bar__categories--inactive {
    border-top: 1.5px solid $border-color-light;
}

.navigation-bar__categories--inactive .navigation-bar__main-categories {
    display: none;
}

.navigation-bar__main-categories {
    margin: 0;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    font-size: 0.9rem;
    li {
        padding: 0.7rem;
        display: inline;
        text-align: center;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        &.main-category--active {
            border-bottom: 3px solid $logo-color;
        }
    }
}

.navigation-bar__expanded-container {
    position: relative;
}

.navigation-bar__expanded-categories {
    width: calc(100vw - 11.25rem);
    min-height: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0 5rem;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-around;
    @extend %border;
    border-top: none;
    background-color: white;
    font-size: 0.93rem;
    letter-spacing: 0.03rem;
}

.expanded-categories__category {
    font-weight: 700;
    span {
        cursor: pointer;
        color: map-get($font-color, light);
        @extend %hover-underline;
    }
}

.expanded-categories__sub-categories {
    padding: 0.4rem 0 0 0.3rem;
    font-weight: 400;
    font-size: 0.91rem;
}

.expanded-categories__sub-category {
    margin: 0.5rem 0;
    cursor: pointer;
    @extend %hover-underline;
}

.navigation-bar__expanded-categories--inactive {
    display: none;
}